main {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 2% auto;
    aside {
        width: 17%;
        margin-right: 10px;
        .index {
            font-size: 14px;
            padding: 0 5%;
            div {
            display: flex;
            font-weight: bold;
            padding: 10px;
            color: #172b4d;
            &:hover {
                cursor: pointer;
                background-color: rgba(228, 228, 228, 0.822);
                border-radius: 4px;
            }
            }
        }
        .teams {
            padding: 10%;
            h2 {
                font-size: 13px;
                color: gray;
                margin-bottom: 10px;
               
            }
            button {
                border: none;
                display: flex;
                width: 100%;
                padding: 6px 0;
                background-color: rgba(255, 255, 255, 0);
                color: #172b4d;
                &:hover {
                    cursor: pointer;
                    background-color: rgba(228, 228, 228, 0.822);
                    border-radius: 4px;
                }
            }
        }
        #aside-active {
            background-color: #E4F0F6;
            color: #3394cb;
            border-radius: 4px;
            img {
                filter: invert(73%) sepia(89%) saturate(3952%) hue-rotate(173deg) brightness(87%) contrast(80%);
            }
        }
    }
    img {
        width: 13px;
        height: 13px;
        filter: invert(10%) sepia(58%) saturate(1889%) hue-rotate(198deg) brightness(94%) contrast(88%);
        margin-right: 10px;
    }
    .boards {
        width: 60%;
        display: flex;
        flex-direction: column;
        #personal-board {
            font-size: 16px;
            display: flex;
            margin-bottom: 10px;
            img {
                width: 20px;
                height: 20px;
            }
        }
        .my-boards {
            display: flex;
            flex-wrap: wrap;
            div,a {
                background-color: #40a35b;
                width: 22%;
                display: flex;
                height: 5em;
                margin: 8px;
                border-radius: 4px;
                color: white;
                padding: 7px;
                font-weight: bold;
                justify-content: space-between;
                align-items: end;
                button {  
                    width: 18px;
                    background: none;
                    border: none;    
                    visibility: hidden;
                    img {filter: invert(1);}
                    &:hover {
                        cursor:alias;
                        img {filter: invert(.89);}
                    }
                }
                &:hover {
                    background-color: #338148;
                    cursor: pointer;
                    button {
                        visibility: visible;
                        
                    }
                }
            }

            .add-board {
                background-color: #f0f2f5;
                color: rgb(150, 147, 147);
                &:hover {
                    background-color: #e7e9ed;
                    
                }
            }
        }
        
    }
}


/*   NEW PROJECT FORM   */

#new-project {
    color: #53617b;
    background-color:  #40a35b;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    left: 38%;
    padding: .6em;
    width: 30%;
    animation: slide 2s ease; 
    @keyframes slide { 0% { transform: translate(0, 20px); } 100% { transform: translate(0, 0); } }
    input {
        border: none;
        width: 100%;
        padding: 10px;
        background-color: #f4f5f77a;
        color: white;
        font-size: 20px;
        &::placeholder {
            color: white;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

