.to-dos {
    height: 100%;
    background-color: #4bbf6b;
    img {
    height: 18px;
    width: 18px;
    filter: invert(1);
    }
    #sub-nav {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: white;
        div {
            display: flex;
            margin: 0 10px;
            div {
                background-color: rgba(218, 218, 218, 0.377);
                padding: 5px;
                border-radius: 5px; 
                p {
                    margin-left: 10px;
                }
            &:hover {
                cursor: pointer;
                background-color: rgba(218, 218, 218, 0.493);
            }
            }
            #title, #user {
                background-color: rgba(255, 255, 255, 0);
                font-weight: bold;
                font-size: 18px;
            }
        }
    }

    /* LISTS */
    
    #list-container {
        display: flex;
        overflow: auto;
        white-space: nowrap;
        height: 85%;
        .list {
            width: 10%;
            margin: 2em;
            background-color: #ebecf0;
            .items {

            }
        }
        &::-webkit-scrollbar {
            height: 9px; 
        }         
        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.212);
            margin: 0 1em;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.589);
            border-radius: 10px;   
        }
    }

}

