@import './projectsStyles/main.scss';
@import './projectsStyles/nav.scss';
@import './toDosStyles/dashboard.scss';
@import './toDosStyles/lists.scss';
@import './toDosStyles/listOptions.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #FAFBFC;
    //overflow-y:hidden;
}   

body {
    height: 94%;
    overflow-y:hidden;
    font-family: 'Roboto', sans-serif;
    
}
.root {
    height: 100%;    
}

.hidden {
    display: none;
}