@import './projectsStyles/main.scss';
@import './projectsStyles/nav.scss';
//@import 'menu';
//@import 'locHours';
//@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #975c19;
    //overflow-y:hidden;
}

body {
    height: 100%;
    //overflow-y:hidden;
    
}
.root {
    height: 100%;
    
    
}